# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
backend/venv/

# Environment variables
.env
.env.*

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/


# Uploaded/private resumes
backend/uploads/
backend/app/uploads/

# Python cache
*.egg-info/

# Frontend dependencies/build
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Trained ML models
backend/models/
